<% @courses.each do |invite| %>
<div>
  <h1><%= invite.course.name %></h1>
  <p><%= invite.course.description %></p>
</div>
<div><p style="margin-right: 1%"; margin-left: 1%"><%= link_to "Start", course_path(invite.course.id) %></p></div>
<% end %>
